<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radebit.springcloud.mapper.StorageMapper">
  <resultMap id="BaseResultMap" type="com.radebit.springcloud.domain.Storage">
    <!--@mbg.generated-->
    <!--@Table t_storage-->
    <id column="storage_id" jdbcType="BIGINT" property="storageId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="used_num" jdbcType="INTEGER" property="usedNum" />
    <result column="redidue_num" jdbcType="INTEGER" property="redidueNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    storage_id, product_id, total_num, used_num, redidue_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_storage
    where storage_id = #{storageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_storage
    where storage_id = #{storageId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="storage_id" keyProperty="storageId" parameterType="com.radebit.springcloud.domain.Storage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_storage (product_id, total_num, used_num, 
      redidue_num)
    values (#{productId,jdbcType=BIGINT}, #{totalNum,jdbcType=INTEGER}, #{usedNum,jdbcType=INTEGER}, 
      #{redidueNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="storage_id" keyProperty="storageId" parameterType="com.radebit.springcloud.domain.Storage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_storage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="usedNum != null">
        used_num,
      </if>
      <if test="redidueNum != null">
        redidue_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="usedNum != null">
        #{usedNum,jdbcType=INTEGER},
      </if>
      <if test="redidueNum != null">
        #{redidueNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.radebit.springcloud.domain.Storage">
    <!--@mbg.generated-->
    update t_storage
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="usedNum != null">
        used_num = #{usedNum,jdbcType=INTEGER},
      </if>
      <if test="redidueNum != null">
        redidue_num = #{redidueNum,jdbcType=INTEGER},
      </if>
    </set>
    where storage_id = #{storageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.radebit.springcloud.domain.Storage">
    <!--@mbg.generated-->
    update t_storage
    set product_id = #{productId,jdbcType=BIGINT},
      total_num = #{totalNum,jdbcType=INTEGER},
      used_num = #{usedNum,jdbcType=INTEGER},
      redidue_num = #{redidueNum,jdbcType=INTEGER}
    where storage_id = #{storageId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-05-22-->
  <select id="selectByProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_storage
        where product_id=#{productId,jdbcType=BIGINT}
    </select>
</mapper>